[Desktop Entry]
Version=1.1
Name=PulseDeck
GenericName=System Monitor
Comment=Lightweight System Monitor & Assistant for Linux
Type=Application
Exec=python3 main.py
Icon=utilities-system-monitor
Path=/opt/pulsedeck
Categories=System;Monitor;GTK;
Keywords=system;monitor;cpu;ram;disk;temperature;fan;network;
StartupNotify=true
StartupWMClass=com.pulsedeck.app
Terminal=false
X-GNOME-UsesNotifications=false
